@model PerformanceRatingSystem.Application.Dtos.PlannedPerformanceValueDto

@{
    ViewData["Title"] = "Удаление запланированного значения производительности";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление запланированного значения производительности</h2>

<h3>Вы уверены, что хотите удалить следующее запланированное значение производительности?</h3>
<div>
    <h4>Запланированное значение производительности</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IndicatorType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndicatorType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quarter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quarter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Indicator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Indicator.Name) 
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="PlanId" /> 
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-controller="PlannedPerformanceValues" asp-action="Index" class="btn btn-default">Вернуться к списку</a>
    </form>
</div>