@model PerformanceRatingSystem.Domain.RequestFeatures.PagedList<PerformanceRatingSystem.Application.Dtos.PlannedPerformanceValueDto>
@{
    Layout = "_Layout";
}

<h2>Запланированные значения производительности</h2>
<form method="get">
    <div class="form-row align-items-end">
        <div class="col-auto">
            <label for="searchQuarter">Квартал</label>
            <select id="searchQuarter" name="searchQuarter" class="form-control">
                <option value="">-- Выберите квартал --</option>
                <option value="1">январь-март</option>
                <option value="2">апрель-июль</option>
                <option value="3">август-октябрь</option>
                <option value="4">ноябрь-декабрь</option>
            </select>
        </div>
        <div class="col-auto">
            <label for="searchYear">Год</label>
            <input type="number" id="searchYear" value="@ViewData["SearchYear"]" name="searchYear" class="form-control" min="1900" max="9999" placeholder="Год">
        </div>
        <br />
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary">Найти</button>
        </div>
    </div>
</form>
<br />
<a class="btn btn-primary" asp-controller="PlannedPerformanceValues" asp-action="Create">Создать новое запланированное значение</a>
<table class="table">
    <thead>
        <tr>
            <th>Тип показателя</th>
            <th>Значение</th>
            <th>Год</th>
            <th>Квартал</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var value in Model)
        {
                <tr>
                    <td>@value.IndicatorType</td>
                    <td>@value.Value</td>
                    <td>@value.Year</td>
                    <td>@value.Quarter</td>
                    <td>
                    <a class="btn btn-sm btn-primary" asp-controller="PlannedPerformanceValues" asp-action="Details" asp-route-id="@value.PlanId">Подробнее</a> |
                        <a class="btn btn-sm btn-danger" asp-controller="PlannedPerformanceValues" asp-action="Delete" asp-route-id="@value.PlanId">Удалить</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
<div class="pagination">
    @if (Model.MetaData.HasPrevious)
    {
        <a class="btn btn-primary" asp-action="Index" asp-route-PageNumber="@(Model.MetaData.CurrentPage - 1)" asp-route-searchQuarter="@ViewData["SearchQuarter"]" asp-route-searchYear="@ViewData["SearchYear"]">Назад</a>
    }

    @if (Model.MetaData.CurrentPage > 3)
    {
        <a class="btn btn-primary" asp-action="Index" asp-route-PageNumber="1" asp-route-searchQuarter="@ViewData["SearchQuarter"]" asp-route-searchYear="@ViewData["SearchYear"]">1</a>
        @if (Model.MetaData.CurrentPage > 4)
        {
            <span>...</span>
        }
    }
    @{
        var startPage = Math.Max(1, Model.MetaData.CurrentPage - 2);
        var endPage = Math.Min(Model.MetaData.CurrentPage + 2, Model.MetaData.TotalPages);
    }
    @for (int i = startPage; i <= endPage; i++)
    {
        if (i == Model.MetaData.CurrentPage)
        {
            <span class="btn btn-secondary disabled">@i</span>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Index" asp-route-PageNumber="@i" asp-route-searchQuarter="@ViewData["SearchQuarter"]" asp-route-searchYear="@ViewData["SearchYear"]">@i</a>
        }
    }

    @if (Model.MetaData.CurrentPage < Model.MetaData.TotalPages - 2)
    {
        @if (Model.MetaData.CurrentPage < Model.MetaData.TotalPages - 3)
        {
            <span>...</span>
        }
        <a class="btn btn-primary" asp-action="Index" asp-route-PageNumber="@Model.MetaData.TotalPages" asp-route-searchQuarter="@ViewData["SearchQuarter"]" asp-route-searchYear="@ViewData["SearchYear"]">@Model.MetaData.TotalPages</a>
    }

    @if (Model.MetaData.HasNext)
    {
        <a class="btn btn-primary" asp-action="Index" asp-route-PageNumber="@(Model.MetaData.CurrentPage + 1)" asp-route-searchQuarter="@ViewData["SearchQuarter"]" asp-route-searchYear="@ViewData["SearchYear"]">Вперед</a>
    }
</div>
 

