@model PerformanceRatingSystem.Domain.RequestFeatures.PagedList<PerformanceRatingSystem.Application.Dtos.AchievementDto>
@{
    Layout = "_Layout";
}

<h2>Достижения</h2>
<form method="get">
    <div class="form-row align-items-end">
        <div class="col-auto">
            <label for="searchDescription">Номер</label>
            <input type="text" id="searchDescription" name="searchDescription" class="form-control" value="@ViewData["SearchDescription"]" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary">Найти</button>
        </div>
    </div>
</form>
<a class="btn btn-primary" asp-controller="Achievements" asp-action="Create">Создать новое достижение</a>
<table class="table">
    <thead>
        <tr>
            <th>Описание</th>
            <th>Дата достижения</th>
            <th>Сотрудник</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var achievement in Model)
        {
            <tr>
                <td>@achievement.Description</td>
                <td>@achievement.DateAchieved.ToShortDateString()</td> 
                <td>@achievement.Employee?.FullName</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Achievements" asp-action="Details" asp-route-id="@achievement.AchievementId">Подробнее</a> |
                    <a class="btn btn-sm btn-danger" asp-controller="Achievements" asp-action="Delete" asp-route-id="@achievement.AchievementId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @if (Model.MetaData.HasPrevious)
    {
        <a class="btn btn-primary" asp-action="Index" asp-route-PageNumber="@(Model.MetaData.CurrentPage - 1)" asp-route-searchPosition="@ViewData["SearchDescription"]">Назад</a>
    }

    @if (Model.MetaData.CurrentPage > 3)
    {
        <a class="btn btn-primary" asp-action="Index" asp-route-PageNumber="1" asp-route-searchPosition="@ViewData["SearchDescription"]">1</a>
        @if (Model.MetaData.CurrentPage > 4)
        {
            <span>...</span>
        }
    }

    @{
        var startPage = Math.Max(2, Model.MetaData.CurrentPage - 2);
        var endPage = Math.Min(Model.MetaData.CurrentPage + 2, Model.MetaData.TotalPages - 1);
    }

    @for (int i = startPage; i <= endPage; i++)
    {
        if (i == Model.MetaData.CurrentPage)
        {
            <span class="btn btn-secondary disabled">@i</span>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Index" asp-route-PageNumber="@i" asp-route-searchPosition="@ViewData["SearchDescription"]">@i</a>
        }
    }

    @if (Model.MetaData.CurrentPage < Model.MetaData.TotalPages - 2)
    {
        @if (Model.MetaData.CurrentPage < Model.MetaData.TotalPages - 3)
        {
            <span>...</span>
        }
        <a class="btn btn-primary" asp-action="Index" asp-route-PageNumber="@Model.MetaData.TotalPages" asp-route-searchPosition="@ViewData["SearchDescription"]">@Model.MetaData.TotalPages</a>
    }

    @if (Model.MetaData.HasNext)
    {
        <a class="btn btn-primary" asp-action="Index" asp-route-PageNumber="@(Model.MetaData.CurrentPage + 1)" asp-route-searchPosition="@ViewData["SearchDescription"]">Вперед</a>
    }

</div>
<span class="current-page">Текущая страница: @Model.MetaData.CurrentPage из @Model.MetaData.TotalPages</span>

