@model IEnumerable<PerformanceRatingSystem.Application.Dtos.ActualPerformanceResultDto>
@{
    Layout = "_Layout";
}

<h2>Результаты фактической производительности</h2>

<a class="btn btn-primary" asp-controller="ActualPerformanceResults" asp-action="Create">Создать новый результат</a>
<table class="table">
    <thead>
        <tr>
            <th>Тип показателя</th>
            <th>Значение</th>
            <th>Год</th>
            <th>Квартал</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
            <tr>
                <td>@result.IndicatorType</td>
                <td>@result.Value</td>
                <td>@result.Year</td>
                <td>@result.Quarter</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="ActualPerformanceResults" asp-action="Details" asp-route-id="@result.ResultId">Подробнее</a> |
                    <a class="btn btn-sm btn-danger" asp-controller="ActualPerformanceResults" asp-action="Delete" asp-route-id="@result.ResultId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>